/* You can add global styles to this file, and also import other style files */
html {
    background-color: black;
}
@font-face {
    font-family: Serpens;
    src: url('app/assets/fonts/SerpensRegular.ttf') format('truetype');
}
